.text-border {
    border: 5px solid #000000;
}
.quote .btn {
    background-color: #000000;
}
.fa-css3:before {
    color: #000000;
}
.fa-drupal:before {
    color: #000000;
}
.fa-trophy:before {
    color: #000000;
}
.orga-stru {
    background-color: #000000;
}
h4.sm-txt {
    color: #000000;
}